:root{
    --color: #0000ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ejer1 button{
    color: brown;
    background-color: steelblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: 1s;
    font-size: 16px;
}
.ejer1 button:hover{
    background-color: yellowgreen;
}
.oculto{
    display:none;
    margin-top:20px;
    padding:10px;
    background-color: #f1c40f;
    border-left: 4px solid #f4f4;
    color: #0d49a1;
    transition: 1s;
}
.oculto:target{
    display:block;
}
.ejer2{
    color: black;
    text-decoration: none;
}
.ejer3 li:first-child{
    font-style: italic;
    color: steelblue;
    font-weight: 600px;
}

.ejer4-5-6{
    width: 70%;
    background-color: #d9d7d7;
    margin-left: 20px;
    margin-top: 10px;
    padding: 30px;
}
.ejer4-5-6 h3{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 900px;
}
.ejer4-5-6 input{
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid #cacaca;
    margin-bottom: 23px;
    transition: 0.8s;
}
.ejer4-5-6 input[type="text"]:invalid{
    border-color:brown;
}
.ejer4-5-6 input[type="email"]{
    border-color: blue;
}
.ejer4-5-6 input[type="password"]{
    margin-bottom: 5px;
}
.ejer4-5-6 input:focus{
    border: 1px solid #000;
}


.ejer7 .text:only-of-type{
    color: tomato;
    font-weight: bold;
    font-style: italic;
}
.ejer8 .parrafo:first-of-type{
    font-weight: bold;
    font-style: italic;
    color: seagreen;
}

.ejer9 h4{
    color: var(--color);
    font-weight: bold;
}
.ejer10 .navegar{
    display: flex;
    justify-content: space-between;
}
.navegar a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    padding: 20px;
    background-color: brown;
    border-radius: 5px;
}
.navegar a:hover{
    background-color: var(--color);
    color: white;
}
.ejer11 h3::before{
    content: "🐱‍👤";
    margin-right: 11px;
}
.ejer12 p{
    font-weight: bold;
}
.ejer12 p::after {
    content: "--:--:--:--:--:--*--*:p";
    margin-left: 5px;
}